<resources>

<properties>
<property id="displayTotal" type="boolean">true</property>
<property id="displayLap" type="boolean">false</property>
<property id="displaySpeed" type="boolean">false</property>
</properties>

<strings>
<string id="totalTitle">Display vehicle total</string>
<string id="lapTitle">Display lap total</string>
<string id="speedTitle">Display approach speed</string>
</strings>

<settings>
	<setting propertyKey="@Properties.displayTotal" title="@Strings.totalTitle"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displayLap" title="@Strings.lapTitle"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displaySpeed" title="@Strings.speedTitle"><settingConfig type="boolean" /></setting>
</settings>

</resources>