<resources>

<properties>
<property id="displayTotal" type="boolean">true</property>
<property id="displayLap" type="boolean">false</property>
<property id="displaySpeedRelative" type="boolean">false</property>
<property id="displaySpeedAbsolute" type="boolean">false</property>
<property id="displaySpeedLast" type="boolean">false</property>
<property id="displayClosestDist" type="boolean">false</property>
<property id="sensorMode" type="number">0</property>
</properties>

<strings>
		<string id="groupDisplay">Choose which fields to display</string>
		<string id="groupDisplayDescription">By default only the vehicle count is displayed. Pick other fields you would like to display within the data field.</string>
		<string id="totalTitle">Display vehicle total</string>
		<string id="lapTitle">Display lap total</string>
		<string id="speedTitleRelative">Display approach speed (relative)</string>
		<string id="speedTitleAbsolute">Display vehicle speed (absolute)</string>
		<string id="speedTitleLast">Display last vehicle speed (absolute)</string>
		<string id="distanceTitle">Display closest vehicle distance</string>

		<string id="groupAuto">Choose font size and orientation</string>
		<string id="groupAutoDescription">The field attempts to auto-orient and auto-size the font, but sometimes it doesn't work correctly. Choose from the options below to override the auto settings.</string>
		<string id="autoOrientation">Orientation</string>
		<string id="autoLabelSize">Label size</string>
		<string id="autoValueSize">Value size</string>
		<string id="autoUnitsSize">Units size</string>

	 	<string id="Auto">Auto</string>
	 	<string id="Off">Off</string>
	 	<string id="Horizontal">Horizontal</string>
	 	<string id="Vertical">Vertical</string>
	 	<string id="Xtiny">Extra tiny</string>
	 	<string id="Tiny">Tiny</string>
	 	<string id="Small">Small</string>
	 	<string id="Medium">Medium</string>
	 	<string id="Large">Medium+</string>
	 	<string id="NumMild">Large</string>
	 	<string id="NumMedium">Large+</string>
	 	<string id="NumHot">Extra Large</string>
	 	<string id="NumThaiHot">Huge</string>
	</strings>
<settings>
	<setting propertyKey="@Properties.displayTotal" title="@Strings.totalTitle"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displayLap" title="@Strings.lapTitle"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displaySpeedRelative" title="@Strings.speedTitleRelative"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displaySpeedAbsolute" title="@Strings.speedTitleAbsolute"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displaySpeedLast" title="@Strings.speedTitleLast"><settingConfig type="boolean" /></setting>
	<setting propertyKey="@Properties.displayClosestDist" title="@Strings.distanceTitle"><settingConfig type="boolean" /></setting>
</settings>

</resources>